.btn {
    padding: .87rem 2.25rem;

    background: $blue;
    box-shadow: $shadow_btn;
    border-radius: $radius_xl;

    font-weight: 500;
    font-size: 1rem;
    line-height: 1.25rem;
    text-align: center;
    text-decoration: none;

    color: $white;
}



