<header class="header">
    <div class="container">
        <div class="header__inner">

            <nav class="nav">
            <a class="nav__link" href="#" >Главная</a>
            <a class="nav__link" href="#" >Наши проекты</a>
            <a class="nav__link" href="#" >Услуги</a>
            <a class="nav__link" href="#" >Новости</a>
            <a class="nav__link" href="#" >Контакты</a>
        </nav>

        <button class="burger" type="button">
            <span class="burger__item">Menu</span>
        </button>

        </div><!-- ./header__inner -->
    </div><!-- ./container -->
</header>
