@import "vars";


/* Default styles */
html {
    font-size: 16px;
}

body {
    margin: 0;

    font-family: 'Montserrat', sans-serif;
    color: $black;
    font-size: 1rem;
    line-height: 1.5;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

* {
    padding: 0;
    margin: 0;
}

.title__h2 {
    font-weight: 700;
    font-size: 2.25rem;
    line-height: 3.3rem;
    color: $dark;
}

.title__h3 {
    font-weight: 600;
    font-size: 1.12rem;
    line-height: 1.37rem;
    color: $black;
}

.parag {
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.56rem;
    color: $gray_text;
}


/* Bootstrap */
@import "../../../node_modules/bootstrap/scss/functions";
@import "../../../node_modules/bootstrap/scss/variables";
@import "../../../node_modules/bootstrap/scss/mixins";
@import "../../../node_modules/bootstrap/scss/grid";
@import "../../../node_modules/bootstrap/scss/utilities";


/* Blocks */
@import "blocks/header";
@import "blocks/intro";
@import "blocks/btn";
@import "blocks/services";
@import "blocks/standards";
@import "blocks/works";
@import "blocks/project";
@import "blocks/media";
@import "blocks/footer";
