$white: #fff;
$black: #000;

$bg_gray: #F6F6F8;
$gray_text: #999;
$line_grey: #E0E0E0;
$dark: #323232;
$blue: #4985FF;

$radius: 10px;
$radius_xl: 30px;

$shadow_btn: 0px 0px 10px rgba(111, 111, 111, 0.25);
